# Backend/.env
ENVIRONMENT=development
FRONTEND_URL=http://localhost:5173
DYNAMODB_ENDPOINT_URL=http://localhost:8000
AWS_ACCESS_KEY_ID=dummy
AWS_SECRET_ACCESS_KEY=dummy
AWS_DEFAULT_REGION=ap-south-1

ADMIN_USERNAME=user
ADMIN_PASSWORD=user123